
html {
  height: 100%;
  width: 100%;
 
}  
 

p{
  font-family: Roboto, Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

body
{
  margin: 0;
   background-color: #f2f2f2;
  padding-top: 80px;
  padding-left:80px;
}

 