.search-bar{
 font-size: 20px;
  margin-left: 12px;
  display: block;
  
}

.search-bar{
  width: 0;
  flex: 1;
  height: 36px;
  paddding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style:solid;
  border-color:gray;
  border-radius:2px;
  box-shadow: inset 1px 2px 3px black 0.05s;
}
.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}
.menu{
  height: 20px;
  margin-left: 24px;
  margin-right: 20px;

}
.youtube-logo{
  height: 20px;
}
 
.header{
  z-index: 100;
  height:55px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;

  
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white; 
  border-bottom-width: 1px;
  border-bottom-color: #d9d9d9;
  border-bottom-style: solid;
  
}
.left-section{
display: flex;
align-items: center;
  }

.search-button, .voice-search-button, .voicesearch{
  height:30px;
  width: 50px;
  margin-left: 5px;
  background-color:#f0f0f0;
  border-color: #f0f0f0;
}

.voice-search-button{
  height: 42px;
  width:50px;
  border-radius: 21px;
  border:none;
  margin-right:12px;
}
.search-button{
  margin-left: -1px;
  height:40px;  
  width:66px;
  position:relative;
}
.search-button  , .voice-search-button, .upload-icon  {
  display: flex;
  position: relative;
  justify-content: center;
}

.search-button .tooltip, .voice-search-button .tooltip, .upload-icon .tooltip{
position: absolute;
color:black;
  background-color: gray;
  padding-top: 4px;
  padding-bottom: 4px;
 padding-left: 8px;
  padding-right: 8px;
  font-size:12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.15s;
  white-space: nowrap;
}
.search-button:hover .tooltip, .voice-search-button:hover .tooltip, .upload-icon:hover .tooltip{
  opacity: 1;
  
}
.search-button .voice-search-button{
  position:relative;
  
}

.search{
 
  height:25px;
  width: 40px; 
 
}
.voicesearch{
  height:25px;
  width: 30px; 
  margin-right:8px;
  margin-top: 6px;
}

.middle-section{
  
  flex: 1;
  margin-left:70px;
  margin-right:35px;
  max-width:500px;
  display: flex;
  align-items: center;
  
}

.live{
  height: 24px;
  padding-right: 15px;;
  
}
.bell-icon{
  height: 24px;
 
}

.bell-container{
   position:relative;
  padding-right: 30px;
  padding-top: 13px;
}
.notification-count{
position:absolute;
  top:-5px;
  right: 0;
  background-color: red;
  color:white;
  font-family:Roboto,Arial;
  font-size:10px;
  padding-left:6px;
  padding-right:6px;
  padding-top: 0.5px;
  padding-bottom: 2px;
  border-radius: 20px;
  margin-right: 29px;
  margin-top:10px;
 
  
 }
.profile{
  height:38px;
  border-radius: 19px;
 
}
 .right-section{
   flex-shrink: 0;
   display:flex;
   width:200px;
   align-items: center;
 vertical-align:top;
   justify-content: space-between;
   margin-right:40px;
 }